<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>NEWS</title>
</head>
<body>
    <h1 class="text-sm-center'">Latest News</h1>


    <h3 class>Search country</h3>
        <form action="{% url 'home' %}" method="GET">
            <input type="text" name="country">
            <button type="submit" value="Search">Search</button>
        </form>
        <br>
        <br>

    <h3 class >Search category</h3>
        <form action="{% url 'home' %}" method="GET">
            <input type="text" name="category">
            <button type="submit" value="Search">Search</button>
        </form>


    <div class="container">
        <div class="row">
            <div class="col-md-6">

                {% for i in articles %}
                    <div class="card rounded shadow-lg m-2" style="width: 25rem;">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ i.author }} </p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-title">{{ i.source.name }} </p>
                        <p class="card-text"> {{ i.description }}</p>
                        <hr>
                        <small> Date: {{i.publishedAt}}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success  m-1">See full article...</a>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="row-cols-md-6'">
                <h3>Category</h3>
                <hr>
                <br>
                <ul class="list-group">
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=health">Health</a></li>
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=science">Science</a></li>
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=technology">Technology</a></li>
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=sports">Sports</a></li>
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=entertainment">Entertainment</a></li>
                    <li class="list-group-item" ><a class="btn btn-primary" href="{% url 'home' %}?category=business">Business</a></li>


                </ul>
            </div>

        </div>
    </div>

</body>
</html>